body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));

}
.box{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);

}
fieldset{
    border: 3px solid dodgerblue;
}

h1{
    padding: 10px;
    text-align: center;
}

h2{
    padding: 10px;
    text-align: center;
}
.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}


/*----------------TABLA--------------------------*/

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 20px rgba(0,0,0,0.9);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}


th {
		background-color: #55608f;
}



tr :hover{

    background-color: rgba(255,255,255,0.3);

}
td :hover{


        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;


}

/*----------------lista-----------------*/

 #lista ul {
    list-style-type: none;
}

#lista ul li {
    font-family:Georgia,serif,Times;
    font-size:18px;
}

#lista ul li a {
    display: flex;
    width:300px;
    height:28px;
    background-color:#013978;
    border-left:5px solid #222;
    border-right:5px solid #222;
    padding-left:10px;
    text-decoration:none;
    color:#bfe1f1;
}

#lista ul li a:hover {
    -moz-transform:rotate(-5deg);
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg);
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(4deg); box-shadow:10px 10px 20px #000000;
    margin-left: 10px;
}



.error{
    color: #c00000;
}
/*------------------------------- href ----------------------------*/

.link {
  display: flex;
  gap: 0.625%;
}

.lk {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
  border-radius: 10px;
}

.lk:link,
.lk:visited,
.lk:focus {
  background-color: rgb(17, 54, 71);
  color: #0066ff;
}

.lk:hover {
  background-color: rgb(20, 63, 83);
}

.lk:active {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
